@font-face {
  font-family: "iconfont"; /* Project id 2804226 */
  src: url('iconfont.woff2?t=1631259302157') format('woff2'),
       url('iconfont.woff?t=1631259302157') format('woff'),
       url('iconfont.ttf?t=1631259302157') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e61d";
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-gouwuche:before {
  content: "\e670";
}

.icon-wode:before {
  content: "\e61b";
}

